body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#terminal-container {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 30px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background: black;
    transition: 0.6s;
}

.line {
    position: absolute;
    background-color: #00ff00;
    opacity: 0;
}

.line1, .line3 {
    width: 0;
    height: 2px;
}

.line2, .line4 {
    width: 2px;
    height: 0;
}

.line1 {
    top: 0;
    left: 0;
    animation: expandWidth 2s forwards;
}

.line2 {
    top: 0;
    right: 0;
    animation: expandHeight 2s 1s forwards;
}

.line3 {
    bottom: 0;
    right: 0;
    animation: expandWidth 2s 2s forwards;
}

.line4 {
    bottom: 0;
    left: 0;
    animation: expandHeight 2s 3s forwards;
}

@keyframes expandWidth {
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes expandHeight {
    to {
        height: 100%;
        opacity: 1;
    }
}

#ascii-art, #man-art {
    white-space: pre;
    margin-bottom: 20px;
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    font-size: 16px;
}
@media only screen and (max-width: 1440px)
{
    #ascii-art, #man-art {
        font-size: 10px;
    }
}

#welcome-message {
    margin: 20px 0;
    padding: 10px;
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#main-content {
    width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#menu {
    position: relative;
    top: 40px;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    list-style-type: none;
    color: #e7e7e7b1;
    border: 1px dashed white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#menu li {
    cursor: pointer;
    padding: 5px 0;
    transition: color 0.3s, text-shadow 0.3s;
}

#menu li:hover {
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

#menu a {
    color: #e7e7e7b1;
}

#menu a:hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.mail, .about {
    display: none;
    font-size: 12px;
    margin-top: 5px;
    border: 1px dashed white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.terminal--content {
    opacity: 0;
    transition: 1s;
}

#terminal {
    width: 100%;
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    display: none;
}


a {
    text-decoration: none;
}

#message
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    opacity: 0;
    display: block;
    font-size: 40px;
}


